importFrom("graphics","plot")

export("amplitude")
export("air2ground")
export("altitude2density")
export("Bird")
export("computeAvailablePower")
export("computeChemicalPower")
export("computeFlappingPower")
export("computeFlightPerformance")
export("computeBodyFrontalArea")
export("findMaximumClimbRate")
export("findMaximumRangeSpeed")
export("findMinimumTimeSpeed")
export("findMaximumPowerSpeed")
export("findMinimumPowerSpeed")
exportPattern("^fD.")
exportPattern("^fP.")
export("mech2chem")
export("chem2mech")
export("reducedFrequency")

S3method(Bird,"default")
S3method(Bird,"data.frame")
S3method(computeChemicalPower,power.mechanical)
S3method(computeChemicalPower,numeric)

S3method(print,power.mechanical)
S3method(print,power.chemical)
S3method(print,powercurve.set)
S3method(print,bird)

S3method(plot,powercurve.set)
